.dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.app {
    background: antiquewhite;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
}

#title {
}

.jumbotron {
    padding: 1em 1em !important;
    background: darkgreen !important;
    margin-bottom: 0em !important;
    border-radius: 0px !important;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.container {
    margin-left: 0px;
    max-block-size: fit-content;
    max-width: -webkit-fill-available;
    border: 1px solid;
    border-radius: 20px !important;
    border-color: white;
    border-width: medium;
}

.app {
    background: whitesmoke;
}

#carRentalApp {
    background: whitesmoke;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.body {
    background: #343a40;
    height: 100vh;
    width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    /* Styles */
    .carAgGrid {
        height: 90vh;
        width: 180vh;
        margin: auto;
        margin-top: 3em;
        overflow: auto;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
    .carAgGrid {
        height: 60vh;
        width: 180vh;
        margin: auto;
        margin-top: 3em;
        overflow: auto;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
    /* insert styles here */
    .carAgGrid {
        height: 60vh;
        width: 180vh;
        margin: auto;
        margin-top: 3em;
        overflow: auto;
    }
}